.alt-header {
  color: green;
}

button{
  background-color: transparent !important;
  border: 3px solid rgb(19, 82, 153) !important;
  color: rgb(19, 82, 153) !important;
  transform: scale(1);
  transition: all .15s ease-in-out !important;
}

button:hover{
  background-color: rgb(19, 82, 153) !important;
  color: lavender !important;
  transform: scale(2) !important;
  z-index: 100 !important;
}